.blur-circle {
    opacity: 0.5;
    filter: blur(128px);
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    z-index: -100;
    pointer-events: none;
}

.stack-circle {
    opacity: 0.5;
    filter: blur(128px);
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    pointer-events: none;
}

.blur-circle-xs {
    opacity: 0.5;
    filter: blur(128px);
    width: 14vw;
    height: 14vw;
    border-radius: 50%;
    z-index: -100;
    pointer-events: none;
}