@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import "./circle.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen dark:bg-[#222] bg-zinc-100 scrollbar-thin dark:scrollbar-track-[#111] dark:scrollbar-thumb-black scrollbar-track-white scrollbar-thumb-gray-300 transition ease-linear;
  }
}

@layer components {
  .theme-btn {
    @apply h-7 w-7 cursor-pointer;
  }
  .theme-container {
    @apply p-1 rounded-full flex items-center justify-center;
  }
  .ham-menu {
    @apply bg-[#E30B5C] dark:bg-[#c471ed] rounded-xl h-1 transition duration-500 ease-in-out;
  }
  .menu-item {
    @apply text-4xl md:text-5xl uppercase font-brush cursor-pointer text-black dark:text-white;
  }
  .section-title {
    @apply font-brush text-[14vw] sm:text-7xl tracking-wider lg:text-8xl uppercase;
  }
  .technology {
    @apply w-[20vw] h-[16vh] sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-40 lg:h-40;
  }
  .contact-form {
    @apply outline-none p-4 h-[70px] font-brush text-center shadow-dim dark:bg-[#272727] bg-zinc-100 text-3xl sm:text-4xl
  }
  .bubble-display {
    @apply font-bubble tracking-wider dark:text-[#222] text-zinc-50 text-[11vw] dark:[-webkit-text-stroke:5px_#1f1f1f] [-webkit-text-stroke:5px_#ececec]
  }
}

.nav-blur {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* technology icons */
.technology {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.6));
}

/* titles */
.section-title::before {
  content: "⌇ ";
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, #f019d7, #66c4c2);
  font-size: 7.5vw;
}

.section-title::after {
  content: " ⌇";
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to top, #f019d7, #66c4c2);
  font-size: 7.5vw;
}

.section-title.darkbolts::before {
  background-image: linear-gradient(to bottom, #c31432, #240b36);
}

.section-title.darkbolts::after {
  background-image: linear-gradient(to top, #c31432, #240b36);
}

/* hamburger icon */
.open:nth-child(2) {
  transform: translateY(50px);
  background-color: transparent;
}

.open:nth-child(1) {
  transform: rotate(47deg) translate(7px, 20px);
}

.open:nth-child(3) {
  transform: rotate(-47deg) translate(7px, -20px);
}

/* toastify */
.toast-font {
  font-family: serif;
  font-size: 1rem;
}

.toast-fontLarge {
  font-size: 18px;
  font-family: 'serif';
  text-align: center;
}

/* underlines */
.linksvg {
    position: relative;
}

.linksvg svg path {
  stroke-dashoffset: 1000px;
  stroke-dasharray: 1000px;
  transition: stroke-dashoffset 0.7s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.linksvg:hover svg path {
  stroke-dashoffset: 0;
}

/* cursor trail */
.trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  pointer-events: none;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  z-index: 180;
 }
