@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import "./circle.css";
@import "./trail.css";
@import "./svg-underline.css";
@import "./toasts.css";
@import "./title-decorations.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply min-h-screen dark:bg-[#222] bg-zinc-100 scrollbar-thin dark:scrollbar-track-[#111] dark:scrollbar-thumb-[#333] scrollbar-track-white scrollbar-thumb-gray-300 hover:scrollbar-thumb-gray-400 dark:hover:scrollbar-thumb-[#555] transition ease-linear;
  }
}

@layer components {
  .theme-btn {
    @apply h-7 w-7 cursor-pointer;
  }
  .theme-container {
    @apply p-1 rounded-full flex items-center justify-center;
  }
  .ham-menu {
    @apply bg-[#E30B5C] dark:bg-[#c471ed] rounded-xl h-1 transition duration-500 ease-in-out;
  }
  .menu-item {
    @apply text-2xl md:text-3xl 2xl:text-4xl uppercase font-headline cursor-pointer text-black dark:text-white;
  }
  .quick-menu {
    @apply text-[19px] font-ui cursor-pointer hover:text-darkred dark:hover:text-gray-300 transition duration-200 ease-in-out
  }
  .section-title {
    @apply font-headline text-[8vw] sm:text-5xl md:text-6xl lg:text-7xl;
  }
  .technology {
    @apply w-[14vw] h-[12vh] sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-36 lg:h-36;
  }
  .contact-form {
    @apply outline-none p-4 h-[70px] font-ui text-center dark:sm:shadow-dim sm:shadow-dimmer dark:bg-[#272727] bg-zinc-100 text-xl sm:text-2xl;
  }
  .bubble-display {
    @apply font-bubble tracking-wider dark:text-[#222] text-zinc-50 text-[11vw] dark:[-webkit-text-stroke:5px_#1f1f1f] [-webkit-text-stroke:5px_#ececec];
  }
}

@layer utilities {
  .selected-project-dark {
    background: radial-gradient(circle at 6px 6px, #db93ff, #444444) !important;
  }
  .selected-project-light {
    background: radial-gradient(circle at 6px 6px, #c31432, #240b36) !important;
  }
  .not-selected-dark {
    background: radial-gradient(circle at 6px 6px, rgb(255, 255, 255), #777777);
  }
  .not-selected-light {
    background: radial-gradient(circle at 6px 6px, rgb(90, 90, 90), #240b36);
  }
}

.nav-blur {
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.technology {
  filter: drop-shadow(3px 3px 2px rgb(0 0 0 / 0.6));
}

.open:nth-child(2) {
  transform: translateY(50px);
  background-color: transparent;
}

.open:nth-child(1) {
  transform: rotate(47deg) translate(7px, 20px);
}

.open:nth-child(3) {
  transform: rotate(-47deg) translate(7px, -20px);
}
