.open:nth-child(2) {
  transform: translateY(50px);
  background-color: transparent;
}

.open:nth-child(1) {
  transform: rotate(47deg) translate(7px, 20px);
}

.open:nth-child(3) {
  transform: rotate(-47deg) translate(7px, -20px);
}
